* {
    user-select: none;
}

.color-palette {
    width: 400px;
    height: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.color {
    border: 1px solid black;
    flex: 1;
}

.color#orange {
    background-color: "orange";
}


.container {
    width: 450px;
    height: 450px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.square {
    /* border: 1px solid black; */
    user-select: none;
    /* width: 10%;
    height: 10%; */
}
