* {
    user-select: none;
}

main {
    display: flex;
    flex-direction: row;
}

.selectors {
    display: flex;
    flex-direction: column;
}

.color-manipulation {
    display: flex;
    flex-direction: column;
}

.color-adder {
    display: flex;
    flex-direction: row;
}

.color-palette {
    background-color: #f39455;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.color {
    border: 1px solid black;
    width: 60px;
    height: 40px;
}

#color-picker {
    height: 100px;
    width: 100px;
}

.selector {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-size: 2.5rem;
}

.options {
    display: flex;
    flex-direction: row;
}

.brush-size {
    flex: 1;
    border: 1px solid black;
}

.mode-selector {
    width: 500px;
    border: 1px solid black;
    height: 100px;
    display: flex;
    font-size: 1.75rem;
}

.mode {
    border: 1px solid black;
    flex: 1;
}


.container {
    width: 450px;
    height: 450px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.grid-manager {
    display: flex;
    flex-direction: row;
}

.square {
    /* border: 1px solid black; */
    user-select: none;
    /* width: 10%;
    height: 10%; */
}
