* {
    user-select: none;
}

.color-palette {
    width: 400px;
    height: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.color {
    border: 1px solid black;
    flex: 1;
}

#color-picker {
    height: 100px;
    width: 100px;
}

.brush-selector {
    width: 500px;
    height: 100px;
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
}

.brush-size {
    flex: 1;
    border: 1px solid black;
}

.mode-selector {
    width: 500px;
    border: 1px solid black;
    height: 100px;
    display: flex;
    font-size: 1.75rem;
}

.mode {
    border: 1px solid black;
    flex: 1;
}


.container {
    width: 450px;
    height: 450px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.square {
    /* border: 1px solid black; */
    user-select: none;
    /* width: 10%;
    height: 10%; */
}
